.registro-overflow {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.registro-header {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.registro-overflow .registro-body {
    background-color: white;
    padding: 24px;
    height: 60%;
    width: 60%;
    border-radius: 24px;
    color: black;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.registro-overflow .registro-body h2 {
    font-size: 32px;
}

.registro-overflow .registro-body .input-container {
    width: calc(100% - 24px);
}

.registro-overflow .registro-body input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    color:  black;
    background-color: white;
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 12px;
}

.registro-overflow .registro-body label {
    color: #242424;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.registro-overflow .registro-body .botaoEnviar {
    position: initial;
    width: 100%;
    margin-top: 32px;
}

.registro-overflow .registro-body .botaoEnviar:hover {
    background-color: #3a44f8;
    transform: scale(1);
}

.botaoFechar {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
}

.botaoFechar:hover {
    background-color: #3a44f8;
    transform: scale(1.1);
}

.checkbox-group {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.checkbox-group label {
    margin-bottom: 5px;
}

#checkbox {
    height: 20px;
    width: 20px;
}

